/**
 * @file
 * Primary CSS file for the Pop-up announcement module.
 */

#popup-announcement-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 9998;
  background-color: black;
}
#popup-announcement-wrap {
  position: absolute;
  z-index: 9999;
  overflow: auto;
  background: white;
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#popup-announcement {
  padding: 8px;
}
#popup-announcement-close {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 26px;
  width: 26px;
  /* todo image right here as code + ?convert to svg? */
  background: url('images/popup-announcement-icons.png');
}
#popup-announcement-close:hover {
  background: url('images/popup-announcement-icons.png') 0 -28px;
  cursor: pointer;
}
